/*
*Main HTML Content
*/

body{
margin: 0;
font-family: 'Merriweather', serif;
font-size: 20px;
height: 100%;
}

html{
  height: 100%;
}

i:hover{
  color: rgb(255, 255, 255);
}

.container{
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://source.unsplash.com/category/nature");
  background-position: center center;
  background-size: cover;
  background-color: black;
}

/*Quote Box*/
.quote-box {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 6px;
  width: 75%;
}

.quote{
  width: 100%;
  order: -1;
  text-align: center;
  color: #353535;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*Footer With Buttons and Source*/
.quote-footer{
  margin-top: 8%;
  width: 100%;

}

.source{
  color: rgb(84, 84, 84);
  font-size: .8em;
  text-align: right;
  width: 95%;
  order: 1;
}

.button-span{
  display: flex;
  justify-content: space-between;
  width: 80%;
  order: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer-btns{
  color: rgb(84, 84, 84);
}

/*
*Screen Size Adjustments
*/


@media screen and (min-width: 500px){
  .button-span{
    width: 50%;
    order: 1;
    justify-content: flex-start;
  }
  .footer-btns{
    margin-left: 20px;
  }
  .source{
    width: 40%;
    order: 2;
    margin-right: 20px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 800px){
  .quote-box{ width: 60%;}
}

@media screen and (min-width: 1100px){
  .quote-box{ width: 50%;}
}

@media screen and (min-width: 1400px){
  .quote-box{ width: 40%;}
}
